# Grafana Datasources Configuration
#
# Automatically provisions data sources:
# - Prometheus (metrics)
# - Loki (logs)
# - Alertmanager (alerts)
# - PostgreSQL (signals database)

apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "15s"
      httpMethod: POST
      alertmanagerUid: alertmanager

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: prometheus
          matcherRegex: "dag_id=(\\w+)"
          name: dag_id
          url: "$${__value.raw}"

  - name: Alertmanager
    type: alertmanager
    uid: alertmanager
    access: proxy
    url: http://alertmanager:9093
    editable: false
    jsonData:
      implementation: prometheus

  - name: PostgreSQL
    type: postgres
    url: postgres:5432
    database: investment_signals
    user: signals
    secureJsonData:
      password: signals_password
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
